.tiles-container {
  background: #FFF;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-template-rows: 1fr 1fr 1fr;
  height: 320px;
  width: 320px;

  .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#16222a, #3a6073);

    h2 {
      color: #f6b93b;
    }
  }
}
